<div>
  <section class="intro">
    <p class="scroll-text">Scroll down</p>
  </section>
  <section class="anim">
    <h1 data-lax-preset="rightToLeft-.1 fadeInOut">Animation</h1>
    <p class="desc" data-lax-preset="blurInOut fadeInOut">
      Nifty little scroll based animation with laxxx.js
    </p>
    <div class="box1" data-lax-preset="spin"></div>
    <div
      class="box2"
      data-lax-scale="700 0, 500 1, 100 1, 0 0"
      data-lax-anchor="self"
    ></div>
  </section>
  <section></section>
</div>
