<article>
  <h1>This is Fluid Type</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos commodi,
    quibusdam vitae accusantium tempore debitis eveniet rem, at, sint animi quis
    cum aut qui maiores dolores nemo optio error maxime? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Eos commodi, quibusdam vitae accusantium
    tempore debitis eveniet rem, at, sint animi quis cum aut qui maiores dolores
    nemo optio error maxime?
  </p>
  <p>
    Eos commodi, quibusdam vitae accusantium tempore debitis eveniet rem, at,
    sint animi quis cum aut qui maiores dolores nemo optio error maxime? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Eos commodi, quibusdam
    vitae accusantium tempore debitis eveniet rem, at, sint animi quis cum aut
    qui maiores dolores nemo optio error maxime?
  </p>
</article>
